body {
    color: #d6d6d6 !important;
    background-color: #1a1a1a !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff8c !important;
}

code {
  background-color: #6f6f6f !important;
}
