h1 {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 0.8rem !important;
  font-weight: 700 !important;
}

:is(h1, h2, h3, h4, h5) .immersive-translate-target-wrapper {
  display: none !important;
}

.navbar-brand {
  display: none !important;
}

div[id="main_navbar"] .immersive-translate-target-wrapper {
  display: none !important;
}

div[id="sidebarnav"] .immersive-translate-target-wrapper {
  display: none !important;
}

nav[aria-label="breadcrumb"] .immersive-translate-target-wrapper {
  display: none !important;
}

div[id="td-sidebar-menu"] .immersive-translate-target-wrapper {
  display: none !important;
}

table .immersive-translate-target-wrapper {
  display: none !important;
}

a > font.immersive-translate-target-wrapper {
  display: none !important;
}

main[role="main"] p {
  max-width: 100% !important;
}
